body {

    text-align: center;

    background-color: crimson;

}

 .me img {
    object-fit: fill;
}

img{
    width: 500px;
    height: 450px;
}

#text{
    color: white;
}

nav {

    background-color: rgb(72, 0, 255);

    padding: 10px;

}

ul {

    list-style-type: none;

    padding: 0;

    margin: 0;

    overflow: hidden;

}

li {

    float: left;


}


li a {

    display: block;

    padding: 10px;

    text-decoration: none;

    color: rgb(0, 0, 0);

}

li a:hover {

    background-color: #dddddd;

}